name: Build Source Release

# Trigger whenever a release is created
on:
  release:
    types:
      - created

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: archive
      id: archive
      run: |
        VERSION=${{ github.event.release.tag_name }}
        SRCNAME="prmon-$VERSION"
        mkdir -p /tmp/$SRCNAME
        mv * /tmp/$SRCNAME
        mv /tmp/$SRCNAME .
        TARBALL=$VERSION.tar.xz
        tar cJf $TARBALL $SRCNAME
        echo "::set-output name=tarball::$TARBALL"
    - name: upload tarball
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: ./${{ steps.archive.outputs.tarball }}
        asset_name: ${{ steps.archive.outputs.tarball }}
        asset_content_type: application/gzip
